[Desktop Entry]
# Bagger
# The format of this file is specified at
# http://freedesktop.org/Standards/desktop-entry-spec
# The entries are in the order they are listed in version 1.0
Type=Application
Version=1.0
Name=Bagger
GenericName=AccessionTool
Comment=Bagger GUI
Icon=/usr/share/icons/bitcurator/bcarchives.svg
Exec=java -jar /home/bcadmin/Tools/bagger-2.1.3/bagger-2.1.3.jar -Xms512m -classpath /home/bcadmin/Tools/bagger-2.1.3/spring-beans-2.5.1.jar;bagger-2.1.3.jar
Terminal=false
# Categorie entry according to version 1.0 of
# http://www.freedesktop.org/wiki/Specifications/menu-spec
Categories=System
