Package: blacklabimagecreator
Priority: optional
Section: Desktop
Installed-Size: 3196
Maintainer: Black Lab Linux Team <support@pc-opensystems.com>
Architecture: all
Version: 1.5
Depends: memtest86+, coreutils, dialog, mkisofs | genisoimage, findutils, bash, passwd, sed, squashfs-tools, casper, rsync, mount, eject, libdebian-installer4, os-prober, ubiquity-frontend-debconf, user-setup, discover, laptop-detect, syslinux, util-linux, xresprobe, aufs-tools
Suggests: remastersys-gui
Description: Ubuntu and variant system remaster This script creates a livecd of the installed system. You can either make a distributable livecd or backup of your system.
Homepage: http://www.pc-opensystems.com/
